Source: ssdeep
Section: admin
Priority: optional
Maintainer: Debian Security Tools <team+pkg-security@tracker.debian.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/ssdeep-project/ssdeep
Vcs-Browser: https://salsa.debian.org/pkg-security-team/ssdeep
Vcs-Git: https://salsa.debian.org/pkg-security-team/ssdeep.git

Package: ssdeep
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: foreign
Description: recursive piecewise hashing tool
 ssdeep is a tool for recursive computing and matching of Context Triggered
 Piecewise Hashing (aka Fuzzy Hashing).
 .
 Fuzzy hashing is a method for comparing similar but not identical files.
 This tool can be used to compare files like regular hashing does (like
 md5sum or sha1sum) but it will find similar files with little differences.
 .
 For example, it can be used to identify modified versions of known files
 even if data has been inserted, modified, or deleted in the new files.
 .
 This package is useful in forensics investigations.

Package: libfuzzy2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Breaks: ssdeep (<< 2.6)
Replaces: ssdeep (<< 2.6)
Multi-Arch: same
Description: recursive piecewise hashing tool (library)
 ssdeep is a tool for recursive computing and matching of Context Triggered
 Piecewise Hashing (aka Fuzzy Hashing).
 .
 Fuzzy hashing is a method for comparing similar but not identical files.
 This tool can be used to compare files like regular hashing does (like
 md5sum or sha1sum) but it will find similar files with little differences.
 .
 For example, it can be used to identify modified versions of known files
 even if data has been inserted, modified, or deleted in the new files.
 .
 This package contains the library.

Package: libfuzzy-dev
Section: libdevel
Architecture: any
Depends: libfuzzy2 (= ${binary:Version}), ${misc:Depends}
Breaks: ssdeep (<< 2.6)
Replaces: ssdeep (<< 2.6)
Multi-Arch: same
Description: recursive piecewise hashing tool (development headers)
 ssdeep is a tool for recursive computing and matching of Context Triggered
 Piecewise Hashing (aka Fuzzy Hashing).
 .
 Fuzzy hashing is a method for comparing similar but not identical files.
 This tool can be used to compare files like regular hashing does (like
 md5sum or sha1sum) but it will find similar files with little differences.
 .
 For example, it can be used to identify modified versions of known files
 even if data has been inserted, modified, or deleted in the new files.
 .
 This package contains the developments files.
